[Desktop Entry]
Name=plasmawallpaper
Name[ar]=plasmawallpaper
Name[ast]=plasmawallpaper
Name[ca]=plasmawallpaper
Name[ca@valencia]=plasmawallpaper
Name[cs]=plasmawallpaper
Name[da]=plasmawallpaper
Name[de]=plasmawallpaper
Name[en_GB]=plasmawallpaper
Name[es]=plasmawallpaper
Name[et]=plasmawallpaper
Name[eu]=plasmawallpaper
Name[fi]=plasmawallpaper
Name[fr]=plasmawallpaper
Name[gd]=plasmawallpaper
Name[gl]=plasmawallpaper
Name[ia]=plasmawallpaper
Name[id]=plasmawallpaper
Name[it]=plasmawallpaper
Name[ko]=plasmawallpaper
Name[nb]=plasmawallpaper
Name[nl]=plasmawallpaper
Name[nn]=plasmawallpaper
Name[pl]=plasmawallpaper
Name[pt]=plasmawallpaper
Name[pt_BR]=plasmawallpaper
Name[ru]=plasmawallpaper
Name[sk]=plasmawallpaper
Name[sl]=plasmawallpaper
Name[sr]=plasmawallpaper
Name[sr@ijekavian]=plasmawallpaper
Name[sr@ijekavianlatin]=plasmawallpaper
Name[sr@latin]=plasmawallpaper
Name[sv]=plasmawallpaper
Name[tr]=plasmawallpaper
Name[uk]=plasmawallpaper
Name[x-test]=xxplasmawallpaperxx
Name[zh_CN]=plasmawallpaper
Name[zh_TW]=plasmawallpaper

Type=Service
Icon=plasma

X-KDE-ServiceTypes=Plasma/Wallpaper
X-KDE-PluginInfo-Author=%{AUTHOR}
X-KDE-PluginInfo-Email=%{EMAIL}
X-KDE-PluginInfo-Name=org.kde.plasma.plasmawallpaper
X-KDE-PluginInfo-License=LGPLv2+
X-KDE-PluginInfo-Version=%{VERSION}
X-KDE-PluginInfo-Website=https://plasma.kde.org/
X-Plasma-MainScript=ui/main.qml
